html, body {
    margin: 0;
    padding: 0;
}

/* Nav Section */
#navbar {
    overflow: hidden;
    background-color: red;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  } 
#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 32px;
    text-decoration: none;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .content {
    padding-top: 60px;
  }
.active {
    background-color: rgba(153, 13, 13, 0.705);
}
#navbar a:hover {
    background-color: rgba(153, 13, 13, 0.5);
}

/* Header Image */
#headerImage {
    position: relative;
}
#headerImage p {
    position: absolute;
    left: 10%;
    bottom: 8px;
    font-size: 40px;
    color: white;
    font-family: Courier;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}
#headerImage img{
    width: 100%;
    height: 500px;
    background-size: cover;
}

/* cards */
h2 {
    text-align: center;
    color: red;
    font-size: 32px;
}
.card-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    height: 700px;
}
.card {
    height: inherit;
    width: 400px;
    padding: 8px;
}
.card:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-in-out;
}
.card a {
    text-decoration: none;
    font-size: larger;
    color: black;
}
.card a:hover {
    color: red;
}
.card-img {
    height: 400px;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.checked {
    color: red;
}
.text-red {
    color: red;
}
.m0 {
    margin: 0px;
}

/* Footer */
footer {
    background: black;
    height: 70px;
    padding: 32px;
  }
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}